<div class="medium-8 medium-offset-2 small-6 small-offset-3 columns">
	<div class="panel content">
		<h1 class="text-center">parse.</h1>

		<%= form_for :parse, url: '/parse' do |f| %>
		  <%= f.text_area :text, :placeholder => 'Enter text here', :class => 'text_area'%>

		    <%= f.submit "Parse", :class => 'button', :id => 'parse'%>
		<% end %>

	</div>
</div>
