<div class="row">

	<a class="button" href="/">Home</a>

	<h3>About</h3>

	<p>Who this app is intended for... How to use it... THE VISION......</p>

	<p>This project was created by Cynthia Wong, Derek Poppe, Reed Kinning, and Stuart Hiller. We are four students in the Web Development Intensive program at General Assembly in Seattle. We hope you love it!</p>

	<h4>Technologies used</h4>
		<p>Languages: Ruby on Rails, HTML, CSS, jQuery, AJAX
		<br>Microsoft Translator API, Project Gutenberg, Foundation CSS Framework, flag thing plugin
		</p>

	<h4>About us</h4>

	<!-- all peeps -->
	<div class="row">

		<!-- 2 peeps -->
		<div class="row">
			<!-- 1 peep -->
			<div class="large-6 columns content">
				<!-- name -->
				<div class="row">
					Cynthia Wong
				</div>
				<!-- headshot & bio -->
				<div class="row">
					<div class="large-4 columns content test-headshot">
					</div>
					<div class="large-8 columns content ttest-bio">
						This project was created by Cynthia Wong, Derek Poppe, Reed Kinning, and Stuart Hiller. We are four students in the Web Development Intensive program at General Assembly in Seattle. We hope you love it!
					</div>
				</div>
			</div>
			<!-- 1 peep -->
			<div class="large-6 columns content">
				<!-- name -->
				<div class="row">
					Derek Poppe
				</div>
				<!-- headshot & bio -->
				<div class="row">
					<div class="large-4 columns content test-headshot">
					</div>
					<div class="large-8 columns content ttest-bio">
						This project was created by Cynthia Wong, Derek Poppe, Reed Kinning, and Stuart Hiller. We are four students in the Web Development Intensive program at General Assembly in Seattle. We hope you love it!
					</div>
				</div>
			</div>
		</div>
		<!-- 2 peeps -->
		<div class="row">
			<!-- 1 peep -->
			<!-- 1 peep -->
			<div class="large-6 columns content">
				<!-- name -->
				<div class="row">
					Reed Kinning
				</div>
				<!-- headshot & bio -->
				<div class="row">
					<div class="large-4 columns content test-headshot">
					</div>
					<div class="large-8 columns content ttest-bio">
						This project was created by Cynthia Wong, Derek Poppe, Reed Kinning, and Stuart Hiller. We are four students in the Web Development Intensive program at General Assembly in Seattle. We hope you love it!
					</div>
				</div>
			</div>
			<!-- 1 peep -->
			<!-- 1 peep -->
			<div class="large-6 columns content">
				<!-- name -->
				<div class="row">
					Stuart Hiller
				</div>
				<!-- headshot & bio -->
				<div class="row">
					<div class="large-4 columns content test-headshot">
					</div>
					<div class="large-8 columns content ttest-bio">
						This project was created by Cynthia Wong, Derek Poppe, Reed Kinning, and Stuart Hiller. We are four students in the Web Development Intensive program at General Assembly in Seattle. We hope you love it!
					</div>
				</div>
			</div>
		</div>

	</div>

</div>
