
	<div class="medium-6 medium-offset-3 small-6 small-offset-3 columns">
	<div class="panel content">
		<h1 class="text-center">translate.</h1>

		<%= form_for :translate, url: '/translate' do |f| %>
		  <%= f.text_area :text, :placeholder => 'Enter text here', :class => 'text_area'%>

		    <%= f.submit "Translate", :class => 'button', :id => 'translate'%>
		<% end %>

		@new_word = word_params

	</div>
	</div>