<h1>Lexicon</h1>

<h3><%= @current_user.name %>'s <%= @current_language[:name] %> lexicon:</h3>

<% @user_words.each do |w| %>
	<% if w.language === @current_language[:code] %>
        <button class="button parse-lexicon" id="<%= w.id %>"><%= w.understood_word %></button>
	<% end %>
<% end %>
