<h3><%= @current_lang['name'] %> lexicon:</h3>

<% @user_words.each do |w| %>
	<% if w.language === @current_lang['code'] %>
        <button class="button parse-lexicon" id="<%= w.id %>"><%= w.understood_word %></button>
	<% end %>
<% end %>
