<h1>Translate#index</h1>
<p>Find me in app/views/translate/index.html.erb</p>

<p><%= @text %></p>
<p><%= @lang %></p>

<%@count = 0.0; @sorted.each do |word| %>
    <% if (@count / @word_count)*100 >= 25 && (@count / @word_count)*100 < 26%>
        <br><p>25% of the words in this article above</p><br>
    <% end %>
    <p><%= word[0]%>: <%= word[1]%>  (checkbox to go here)</p>
<% end %>

