// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	font-family: 'Avenir Next', sans-serif;
	li {
		list-style: none;
	}
}

.preview {
	font-family: 'Calendas Plus',
}

.button {
	// background-color: #008490;
	background-color: transparent;
	border: 2px solid #008490;
	color: #008490;
}

#word-btn {
	color: #008490;
	font-weight: 500;
	font-size: 14px;
	width: 12em;
}

#word-btn:hover {
	color: #FFFFFF;
}

#translate {
	width: 100%;
}

.text_area {
	height: 15em;
	font-size: 20px;
	font-weight: 500;
}

.content {
	margin-top: 20px;
	border-radius: 20px;
}

.right-sidebar {
	max-height: 450px;
	width: 15em;
}


 /* styling for current user */

h1#brand {
		margin-top: 40px;
		font-size: 80px;
		font-family: 'Elephant', serif;
		letter-spacing: 0px;
		color: #000000;
}

.current {
	font-size: 1.3em;
	margin-top: 45px;
}

.top-bar, .nav-bar {
	height: 4em;
	background-color: white;
}

