// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Styling the Form for Login and Signup */

.field {
	background-color: transparent;
	border: 2px solid #008490;
	color: #008490;
	font-size: 40px;
}

#textField {
	border-bottom: 1px solid #008490;
}
