body {
	font-family: 'Avenir', sans-serif;
}

li {
	list-style: none;
}

a:link, a:active {
	color: #000000;
}

a:hover {
	color: white;
}

a:visited {
	color: #000000;
}

#brand-text {
	font-family: 'soleil', sans-serif;
	letter-spacing: -20px;
	font-weight: 500;
	font-size: 14em;
	position: relative;
	top: 150px;
	left: 40px;
	z-index: 100;
}

.paragraph {
	font-family: 'Karla', sans-serif;
	margin-top: -208px;
	background-color: white;
	padding: 32px;
}

.random {
	margin-top: 223px;
	background-color: white;
	border-bottom: 10px solid #69cdea;
}


.preview {
	font-family: 'Calendas Plus';
	margin-bottom: 40px;
}

/* Styling for the Welcome page */

/*.content {
	background-color: steelblue;
	position: relative;
	height: 300px;
	z-index: -1;
}*/

.login, .login:visited {
	background-color: #21c6f5;
	border-bottom: 3px solid black;
	color: white;
}

.login:hover {
	color: #008490;
	background-color: black;
	border-bottom: 3px solid black;
}

#login, #signUp {
	width: 450px;
	text-align: center;
	font-family: 'Karla';
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
}

#textField {
	border: 1px solid #008490;
}

/* Styling the Form to Submit Text to Parse */


.button, .postfix {
	/*background-color: #008490;*/
	background-color: transparent;
	border: 1px solid #21c6f5;
	color: #008490;
	border-radius: 0px;
}

.button:hover, .postfix:hover {
	background-color: transparent;
	color: #21c6f5;
}

/*.submit_lang, .postfix {
	border-radius: 5px;
	background-color: transparent;
	border: 1px solid #008490;
	color: #008490;
}*/

.login:hover {
	color:  #000000;
}

#word-btn {
	color: #008490;
	font-weight: 500;
	font-size: 14px;
	width: 12em;
}

#word-btn:hover {
	color: #FFFFFF;
}

#parse, .postfix {
	width: 100%;
	border-radius: 0px;
}

.text_area {
	height: 15em;
	font-size: 18px;
	font-weight: 500;
	border: 1px solid #21c6f5;
}

.content {
	margin-top: 20px;
	border-radius: 0px;
	background-color: transparent;
	border: 0px;
}

/* Style for the Right SideBar aka Word List */

.right-sidebar {
	max-height: 480px;
	width: 15.5em;
	/*border: 0px;*/
	background-color: transparent;
	float: right;

}

/*.translation {
	height: 150px;
}*/

.p_text {
	font-size: 18px;
}

h4 {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 2px;
}


 /* styling for current user */

h1#brand {
	margin-top: 27px;
	font-size: 20px;
	font-family: 'Avenir Next', sans-serif;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: #000000;
}

.current {
	margin-top: 35px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.top-bar, .nav-bar {
	height: 6em;
	background-color: #21c6f5;
	border-bottom: 0px solid grey;
}

/* dropdown menu */

.language_dropdown {
/*	width: 200px;*/
	display: inline-block;
}




.fullWidth {
	background-color: #000000;
	margin-right: auto;
	margin-left: auto;
	max-width: 100%;
	height: 300px;
}

/* progress bar styles */

#progressBar, #ratioProgress {
	background-color: #21c6f5;
	-webkit-transition: width 500ms linear 0.1s;
  -moz-transition: width 500ms linear 0.1s;
  -o-transition: width 500ms linear 0.1s;
  transition: width 500ms linear 0.1s;
  overflow: hidden;
  max-height: 32px;
 	font-size: 14px;
 	color: #FFFFFF;
	padding-right: 10px;
}





