<div class="contain-to-grid sticky nav-bar">
  <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
    <ul class="title-area">
      <li class="name">
        <a href="/"><h1 id="brand">Parse</h1></a>
      </li>
    </ul>
  <!--   <% if(defined?(current_user) == nil)  %> -->

   <!--  <% else %> -->

    <p class="current text-right">
      <span class="flag-icon flagng['flag'] %>" id="user-flag-icon" ></span> <span id="session_language"><%= @current_lang['name'] %></span>
      | <strong><%= @current_user.name %></strong>
      | <%= link_to "logout", "/logout" %>
    </p>
<!--     <% end %>
 -->  </nav>
</div>
