<div class="contain-to-grid sticky nav-bar">
  <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
    <ul class="title-area">
      <li class="name">
        <a href="/"><h1 id="brand">Parse</h1></a>
      </li>
    </ul>

    <p class="current text-right"><strong><%= @current_user.name %></strong> | <%= @language_hash[@current_language.to_sym] %> | <%= link_to "logout", "/logout" %></p>

  </nav>
</div>

